{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
<div class='container-fluid  pt-5 '>
   <div class='row justify-content-md-center '>
      <div class='col-5 '>


         <h1>Créer un nouvel article</h1>

         {{ include('article/_form.html.twig') }}

         <a class="shadow btn btn-primary mt-2" href="{{ path('article_index') }}">back to list</a>

      </div>
   </div>
</div> {% endblock %}